* {
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    opacity: 0.9;
    font-family: monospace;

}

#nav_bar {
    list-style: none;
    margin-top: 10px;
    padding: 0px;
    text-align: center;
}

#main_container {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    text-align: center;
    background-color: black;
    color: white;
    margin: 0px;
}

.table_container {
    border: 3px solid black;
    table-layout: fixed;
    width: 100%;
    margin: auto;
}

.thead_container {
    background-color: black;
    color: white;
}

.caption {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}
