/*Whole section of the webpage*/
body {
    font-family: Helvetica;
}
/*End of whole section of the webpage*/

/*Navigation section of the webpage*/
#nav-bar {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
}

li {
    font-size: 16px;
    margin-right: 25px;
}
/*End of navigation section of the webpage*/

#header {
    font-family: Helvetica;
    font-size: 50px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}

h1 {
    background: image()
}

/*Changing the bold element into blue*/
b {
    font-weight: bolder;
    color: blue
}
/*End of b element*/

/*Changing all h2 elements including the section and article*/
h2 {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: blue;
}

#brushes {
    background-color: mediumspringgreen;
}

#frames {
    background-color: lightcoral;
}

#paint {
    background-color: skyblue;
}