/*The whole webpage content*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000000;
    font-size: 16px;
}

html {
    margin: 0 2.5rem;
}

/*end of the whole webpage content*/

header {
    font-size: 3rem;
    display: flex;
    justify-content: center;
    padding: 2rem;
}

/*navigation bar for webpage*/
ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #c0c0c0;
    display: flex;
    justify-content: center;
    align-items: center;   
}
li a {
    display: block;
    padding: 14px 16px;
    font-size: 1.5rem;
    text-decoration: none;
    
}
/*End of navigation bar for webpage*/

main {
    border: 1px solid black;
    width: 100%;
    height: auto;
    margin: 1.5rem 0;
}

.h1_container {
    display: block;
    font-size: 1.8rem;
    padding: 1rem 0;
    text-align: center;
}
/*Content for color information*/
.div_box {
    border: 1px solid blue;
    margin: 0.5rem;
}

#color_container {
    
}

.box_content {
    border: 1px solid #000000;
    width: 24%;
    height: 75px;
    display: inline-block;
    text-align: center;
    padding: 25px;
    margin: 5px 2.5px;
}

#silver_color {
    background-color: #c0c0c0;
}
#maroon_color {
    background-color: #800000;
}

#purple_color {
    background-color: #800080;
}

#navy_color {
    background-color: #000080;
}

#teal_color {
    background-color: #008080;
}

#burlywood_color {
    background-color: #deb887;
}

#crimson_color {
    background-color: #dc143c;
}

#darkred_color {
    background-color: #8b0000;
}

#indianred_color {
    background-color: #cd5c5c;
}

#indigo_color {
    background-color: #4b0082;
}

#lightslategrey_color {
    background-color: #778899;
}

#rosybrown_color {
    background-color: #bc8f8f;
}
/*End of color content information section*/