/*css font families styling*/
@font-face {
    font-family: 'Hind', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Oxygen', sans-serif;
    font-family: 'Work Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Mukta', sans-serif;
    font-family: 'Comfortaa', cursive;
}

/*The whole webpage content*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000000;
    font-size: 16px;
    font-family: 'Noto Sans JP', sans-serif;
}

html {
   margin: 0 2rem; 
}

/*end of the whole webpage content*/

header {
    font-size: 3rem;
    display: flex;
    justify-content: center;
    padding: 2rem;
    color: #ffffff;
    text-shadow: 2px 2px 5px #000000;
    background-color: #778899;
}

footer {
    position: relative;
    top: 60px;
    margin-top: 20px;
    
}

/*navigation bar for webpage*/
ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #c0c0c0;
    display: flex;
    justify-content: center;
    align-items: center;   
}
li a {
    display: block;
    padding: 14px 16px;
    font-size: 1.5rem;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    text-shadow: 1px 1px 5px #000000;
    
}
/*End of navigation bar for webpage*/
.h1_container {
    display: block;
    font-size: 1.8rem;
    padding: 1rem 0;
    text-align: center;
}

/*Content for color information*/
.div_box {
    position: relative;
    top: 20px;
    height: 350px;
    border: 1px solid #000000;
    box-shadow: 2px 4px 15px #000000;
}

#div_box_2 {
    top: 40px;
}

#div_box_3 {
    top: 60px;
}

#colors_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box_content {
    border: 1px solid #000000;
    color: #ffffff;
    width: 24%;
    height: 75px;
    display: inline-block;
    text-align: center;
    padding: 25px;
    margin: 5px 2.5px;
}

.box_content p {
    color: #ffffff;
}

#silver_color {
    background-color: #c0c0c0;
}
#maroon_color {
    background-color: #800000;
}

#purple_color {
    background-color: #800080;
}

#navy_color {
    background-color: #000080;
}

#teal_color {
    background-color: #008080;
}

#burlywood_color {
    background-color: #deb887;
}

#crimson_color {
    background-color: #dc143c;
}

#darkred_color {
    background-color: #8b0000;
}

#indianred_color {
    background-color: #cd5c5c;
}

#indigo_color {
    background-color: #4b0082;
}

#lightslategrey_color {
    background-color: #778899;
}

#rosybrown_color {
    background-color: #bc8f8f;
}
/*End of color content information section*/

#montserrat_font_1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

#montserrat_font_2 {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
}

#montserrat_font_3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

#montserrat_font_4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

#mukta_font_1 {
    font-family: 'Mukta', sans-serif;
    font-weight: 300; 
}

#mukta_font_2 {
    font-family: 'Mukta', sans-serif;
    font-weight: 600; 
}

#mukta_font_3 {
    font-family: 'Mukta', sans-serif;
    font-weight: 800; 
}

#comfortaa_font_1 {
    font-family: 'Comfortaa', cursive;
    font-weight: 300;
}

#comfortaa_font_2 {
    font-family: 'Comfortaa', cursive;
    font-weight: 500;
}

#comfortaa_font_3 {
    font-family: 'Comfortaa', cursive;
    font-weight: 600;
}

#comfortaa_font_4 {
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
}



/*css media queries for webpage*/
/*Mobile phone screen size*/
@media only screen and (min-width: 480px) and (max-width: 767px) {

    header {
        text-align: center;
    }

    #colors_container {
        display: flex;
    }

    .box_content {
        width: 100%;
    }

    .div_box {
        height: 1095px;
    }

    #div_box_2 {
        height: auto;
    }

    #div_box_3 {
        height: auto;
    }
}

/*Table screen size*/
@media only screen and (min-width: 768px) and (max-width: 1023px) {

}

/*Tablet landscape screen size*/
@media only screen and (min-width: 1024px) and (max-width: 1599px) {

}

/*Laptop and Desktop screen size*/
@media only screen and (min-width: 1600px) {

}